.pf-editor {
    border: 1px solid #ddd;
    max-height: 473px;
    height: auto;
    border-radius: 6px;
    display: flex;
}

.p-red-point {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    background: red;
}

.m-typeOfText{
    display: flex;
}

.m-text {
    font-size: xx-small;
    font-weight: bolder;
}