.m-pf-editor {
    border: 1px solid #ddd;
    min-height: 150px;
    height: auto;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
}
.m-pf-editor>div{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.u-point {
    user-select: none;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background: red;
    margin: 7px;
}

.m-pf-editor-text, .m-pf-editor-image{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.m-pf-editor-text>div>label, .m-pf-editor-image>div>label {
    font-size: xx-small;
    font-weight: bolder;
    color: #555;
    letter-spacing: 1px;
}

.m-pf-editor-text>div>label>Input{
    border: 1px solid #aaaaaa;
    width: 210px;
    height: 30px;
    margin-right: 25px;
}

.u-pf-btn{
    position: relative;
    margin-top: 30px;
    margin-left: 18px;
    border: 0;
    border-radius: 5px;
    background: #1890FF;
    color: white;
    /*font-weight: bolder;*/
    height: 30px;
    width: 80px;
}

.u-pf-btn:hover{
    background: rgba(24,144,255,0.8);
}

.u-pf-editor-upload{
    border: 1px solid #1890FF;
    border-radius: 5px;
    color: #1890FF;
}

.u-pf-editor-upload:hover{

}

.m-pf-preview-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-pf-editor-list{
    width: 270px;
}

.ant-upload-list-item{
    width: 200px;
}
