.m-cd-modal-title{
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.m-cd-mt-word{
    font-size: large;
    margin-right: 30px;
}

.m-cd-line{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.m-cd-data-line {
    overflow: hidden;
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-cd-line-icon{
    font-size: 20px;
}

.m-cd-line-btns {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.m-cd-data-div-title {
    color: #aaaaaa;
    font-size: 13px;
    margin-top: 10px;
}

.m-cd-data-div-word {
    color: black;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}