* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #eee;
}

.m-main {
    width: 100%;
    display: flex;
}

.g-page {
    background: white;
    margin: 0 auto;
    position: relative;
}

.m-main-hint {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex-direction: column;
    font-size: 24px;
    color: #aaa;
}

.m-app-pl-line {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.m-app-pl-line-name {
    font-size: 18px;
}

.m-app-pl-line-btns {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

/* 我是实在懒得起名了，这样起名不好的 */
.m-app-menu-login-btn {
    position: absolute;
    right: 20px;
    top: 7px;
    /*width: 60px;*/
}

.margin-top {
    margin-top: 20px;
}

@media screen and (min-width: 600px) {

    .g-page {
        width: 1200px;
    }

    .m-head-btn {
        display: none;
    }

    .m-menu-proj-name {
        width: 300px;
        height: 40px;
        position: absolute;
        top: 3px;
        left: 330px;
        z-index: 999;
        display: flex;
        align-items: center;
    }

    .m-menu-proj-name-btn {
        width: 30px;
        border: 0;
        color: #1890FF;
        background: white;
        font-size: 20px;
        cursor: pointer;
    }

    .m-main-left {
        width: 67%;
    }

    .m-main-right {
        width: 33%;
    }

}

.m-bl-modal-title {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

.m-bl-mt-word {
    font-size: large;
    margin-right: 30px;
}

.m-bl-line {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
}

.m-bl-line-icon {
    font-size: 20px;
}

.m-bl-line-btns {
    width: 220px;
    display: flex;
    justify-content: space-between;
}

.percent50 {
    width: 50%;
}


.percent40 {
    width: 40%;
}

.percent25 {
    width: 25%;
}

.percent15 {
    width: 15%;
}


@media screen and (max-width: 600px) {

    .g-page {
        width: auto;
    }

    .m-head-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 5px;
        height: 50px;
        color: #555555;
        font-size: 16px;
        letter-spacing: 3px;
    }

    .m-head-btn:hover {
        color: rgba(0, 0, 0, 0.5);
    }

    .m-head-btn:after {
        border-color: #555;
        border-style: solid;
        border-width: 0 0.1rem 0.1rem 0;
        content: "";
        display: flex;
        height: 0.6rem;
        margin-left: 0.5rem;
        margin-right: 0.225rem;
        transform: rotate(45deg);
        transform-origin: 75% 75%;
        width: 0.6rem;
    }

    .g-page > ul {
        display: none;
    }

    .m-menu-proj-name {
        display: none;
    }

    .m-menu-proj-name-btn {
        display: none;
    }

    .m-main-left {
        display: none;
    }

    .m-main-right {
        width: 100%;
    }

    .m-hide-in-mobile {
        display: none;
    }

    .m-app-menu-login-btn {
        display: none;
    }
}

